<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/emp_order.css">
        <title>Accepted orders</title>
    </head>
    <body>
        <div class="main-container" style="overflow-y: auto;">
            <div class="upper-nav">
                <div class="logo">
                    <a href="">
                        <img src="/images/Logo.png" alt="logo" height="100%">
                    </a>
                </div>
                <div class="username sbox">
                    <p>Hi, <%= req.userEmail %></p>
                </div>
                <div class="favorites sbox bt">
                    <a href="/">Dashboard</a>
                </div>
           
            </div>
            
            <div class='cartTable' >
                <div class="pageTitle">
                    <h1 class="col-md-12" style=" font-family: 'Lucida Handwriting'; margin-left: 20%; ">Accepted Orders</h1> 
                </div>
                <div>
                    <table class="table table-hover bg-warning">
                        <thead></thead>
                        <tbody>
                            <tr>
                                <th>Order ID</th>
                                <th>Customer</th>
                                <th>Total Price</th>
                                <th> Date   </th>
                            </tr>
                            <%  accepted.forEach(item => { %>   
                                <tr>
    
                                    <td><%= item.order_id %></td>
                                    <td><%= item.customer %></td>
                                    <td><%= item.price %></td>
                                    <td><%= item.order_date.substring(0, 10); %></td>
    
                                    
                                </tr>
                                
                           <% }); %> 


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>


