<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Ninja</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="main-container">
        <div class="upper-nav">
            <div class="logo">
                <a href="./FoodMenu.html">
                    <img src="./images/Logo.png" alt="logo" height="100%">
                </a>
            </div>
            <div class="username sbox">
                <p>Hi, Test</p>
            </div>
            <div class="cart sbox">
                <a href="">
                    <img src="./images/shopping_cart_24px.png" alt="cart" height="50px">
                </a>
            </div>
            <div class="favorites sbox bt">
                <a href="">Favorites</a>
            </div>
            <div class="logout sbox bt">
                <a href="">Logout</a>
            </div>
        </div>
        <div class="container">
            
        </div>
    </div>
</body>
</html>