<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method = "GET"  action = "/manager_func/login">
        <input type="submit" value="manager">
    </form>
    <br>
    <br>
    <form method="GET" action="customer_func/login">
        <input type="submit" value="customer">
    </form>
    <br>
    <br>

    <form method="GET" action="employee_func/login">
        <input type="submit" value="employee">
    </form>

    <form method="GET" action="driver_func/login">
        <input type="submit" value="driver">
    </form>
    <br>
    <br>


</body>
</html>