body {
    font-family: Cambria;
    font-size: 25px;
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../images/Background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 10;
   
}