<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/manager_func/food_items/add" method="POST">
        Item ID: <input type="text" id="food_item_id" name="food_item_id">
        <br>

        Item Name: <input type="text" id="food_item_name" name="food_item_name">
        <br>

        Price: <input type="text" id="price" name="price">
        <br>

        Description:<textarea id="description" name="description" rows="4" cols="10"> </textarea>
        <br>


        Calories: <input type="text" id="calorie_amount" name="calorie_amount">
        <br>

        Picture: <input type="file" id="image" name="image">
        <br>

        
        <input type="submit" >
    </form>
    
    
</body>
</html>