<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/manager_func/discount/add" method="POST">
        Discount Description: 
        <textarea type="text" name="discount_description" cols="10" rows="5"></textarea>
        <br>

        eligible Price: <input type="text"  name="eligible_price">
        <br>

        Discount: <input type="text"  name="discount_percentage">
        <br>

        start Date: <input type="datetime-local"  name="start_date">
        <br>

        end Date: <input type="datetime-local"  name="end_date">
        <br>


        <input type="submit" >
    </form>
    
    
</body>
</html>