<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/manager_func/driver/create" method="POST">
        Employee Name: <input type="text" name="name">
        <br>

        Contact Number: <input type="number"  name="contact_number">
        <br>

        Vehicle Type: <input type="text"  name="vehicle_type">
        <br>

        Vehicle NO: <input type="text"  name="vehicle_number">
        <br>

        E-mail Address: <input type="email" id="email" name="email" required>
        <br>

        Password: <input type="password" id="password" name="password" required>
        <br>


        

        
        
        <input type="submit" >
    </form>
    
    
</body>
</html>