<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/manager_func/employee/create" method="POST">
        Employee Name: <input type="text" id="employee_name" name="employee_name">
        <br>

        Job Post: <input type="text" id="job_post" name="job_post">
        <br>

        Contact Number: <input type="number" id="contact_number" name="contact_number">
        <br>

        
        <input type="submit" >
    </form>
    
    
</body>
</html>