<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/cart.css">


    <title>Cart</title>
</head>
<body>
    <div class="main-container">
        <div class="upper-nav">
            <div class="logo">
                <a href="/">
                    <img src="/images/Logo.png" alt="logo" height="100%">
                </a>
            </div>
            <div class="username sbox">
                <p>Hi, <%= req.userEmail%></p>
            </div>
        
            <div class="favorites sbox bt">
                <a href="/customer_func/menu/view"> Menu</a>
            </div>
            <div class="logout sbox bt">
                <a href="/">Dashboard</a>
            </div>
        </div><!--end of upper nav-->
        <div class="container-fluid" style="overflow-y: scroll;">
        <div class='cartTable'>
            <div class="col-md-12">
                <h1 class="col-md-12" style=" text-align:center; font-family: 'Lucida Handwriting'; margin-top: 5px;">CART</h1>
                <button type="button" class="btn btn-grad btn-outline-dark float-right">Proceed</button>
            </div>
            
                <table class="table table-hover bg-warning" >
                    <thead>
                    </thead>
                    <tbody >
                        <%  result.forEach(item => { %>
                            <tr>
                                <form action="/customer_func/cart/view" method="post">
                                <td><%= item.food_item_name %></td>
                                <td><%= item.price %></td>
                                <td>
                                    <input type="text"  name="item" value='<%= item.food_item_id  %> ' hidden>
                                    <input type="image" src="/images/shopping_cart_24px.png"  style="height:35px; margin-right: 20px;">
                                </td>
                            </form>
                            </tr>
                            
                       <% }); %> 
                            <tr>
                                <td> <b>TOTAL</b>   </td>
                                <td>Rs.</td>
                                <td>  <b> <%= total[0].total_price %></b> </td>

                            </tr>
                            
                                
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</body>
</html>


