<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/cart.css">


    <title>Eligible Discounts </title>
</head>
<body>
    <div class="main-container" style="overflow-y: auto;">
        <div class="upper-nav">
            <div class="logo">
                <a href="/">
                    <img src="/images/Logo.png" alt="logo" height="100%">
                </a>
            </div>
            <div class="username sbox" style="margin-right: auto;">
                <p>Hi, <%= req.userEmail%></p>
            </div>

        </div>
        <div class="container-fluid" style=" width: 80%;">
        <div class='cartTable'>
            <div class="col-md-12">
                <br>
                <h1 class="col-md-12" style=" text-align:center; font-family: 'Lucida Handwriting';">Discounts</h1>
                <h4 class="col-md-12" style=" text-align:center; font-family: 'Lucida Handwriting';"> (Eligible Discounts Only)  </h>

            </div>
            
                <table class="table table-hover bg-warning" >
                    <thead>
                    </thead>
                    <tbody >
                        <tr>
                            <td> <b>Description</b> </td>
                            <td><b>Discount(%)</b> </td>
                            <td><b>deducted Amount(Rs.)</b></td>
                            <td></td>
                        </tr>
                        <%  discount.forEach(item => { %>   
                            <tr>

                                <td><%= item.discount_description %></td>
                                <td><%= item.discount_percentage %> %</td>
                                <% let red_price =req.body.total * item.discount_percentage*0.01 %>
                                <td>RS. <%= red_price  %> </td>

                                

                                    <td>
                                        <form action="/customer_func/cart/order/" method="post">
                                            <input type="text" name="red_price" value="<%= red_price %>" hidden >
                
                                        <input type="submit" name="" value="submit">
                                    </form>
                                    </td>
 
                            </tr>
                            
                       <% }); %> 
                            
                                
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</body>
</html>


