<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />  
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="/css/final_order.css">
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>   -->
    <title>Customer cart-proceed</title>
</head>
<body>
  <div class="main-container">
    <div class="upper-nav">
        <div class="logo">
            <a href="">
                <img src="/images/Logo.png" alt="logo" height="100%">
            </a>
        </div>
        <div class="username sbox" style="margin-right: auto;">
            <p>Hi, <%= req.userEmail %></p>
        </div>
       
    </div>
    <div class="containersub">
      <div class="row">
        <div class="col-md-6" >
          <div class="submit" style="margin-left: auto;">
              <form >
              <div class="form-group">
                  <div class="d-flex flex-column">
                      <label for="name" class="control-label">Order ID</label>
                      <input type="string" name='order_price' value='<%= req.body.order_id%>' class="form-control" id="lineHeight" disabled >
                  </div>
              </div>
              <div class="form-group">
                  <div class="d-flex flex-column">
                      <label for="name" class="control-label">Total Amount</label>
                      <input type="string" name='offer_price' value='<%= req.body.total_price %>' class="form-control" id="lineHeight" disabled >
                  </div>
              </div>
              <div class="form-group">
                <div class="d-flex flex-column">
                  <label class="control-label">Payment method</label>
                  <div class="form-control" id="lineHeight">
                      <div class="form-check">
                          <label class="form-check-label" for="cash" >
                              Cash on Delivery
                            </label>
                          <input class="form-check-input" type="radio" name="payment" id="cash"  value="cash" style="margin-left: 70px;" >
                          
                      </div>  
                  </div>
                    <br>
                    <div class="form-control" id="lineHeight">
                      <div class="form-check">
                          <label class="form-check-label" for="qrcode" >
                            Scan QR code
                            </label>
                          <input class="form-check-input" type="radio" name="payment" id="qrcode" value="qrcode" style="margin-left: 70px;">
                          
                        </div>
                    </div>
                </div>
              </div>
          </form>
          </div>
        </div>
        
        <div class="col-md-6" style="margin-right: auto; ">
          
            <div class="submit">
                <form>
                    <div class="container" style="margin-left:10%; margin-bottom: 20px;">
                        <img src="/images/qr.png" >

                    </div>
                   
                  
                    <div class="form-group row">
                      <div class="col-sm-12">
                        
                        <div class="btn-lg btn-dark" id="btn" style="width: fit-content;"><a  style="text-decoration: none; color: white;" href="/customer_func/menu/view">CONFIRM</a></div>
                    
                      </div>
                    </div>
                  </form>
            </div>
        
        </div>
      </div>
    
     
  </div>
  </div> 
</body>
</html>
