<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/css/login.css" />


    </head>


        <body class="container">

            <div class="" id="rectangular">
                <div id="image">
                    <div id="text1">Happy and Healthy Eating with<br><div id="text2">Food Ninja</div> </div>
                </div>
                <form action="/login" method="POST">
                <div class="container" id="login" style="display:flex; flex-direction: column;">
                    <div style="font-size: 20px; font-weight: bold;">Customer Portal</div>
                    <label for="email" id="label1">E-mail:</label>
                    <input id="email" type="email" class="form-control" name="email" placeholder="Email" required>
                    <div id="space1"></div>
                    <label for="password" id="label2">Password:</label>
                    <input type="password" class="form-control pwd" id="password" name="password" required>
                   
                    <div> <input type="submit" class="btn btn-dark" id="logbutton" value="Login"></div>
                    <br><br><br>
                    <div style="font-weight: bold; font-size: 20px;"> Haven't Signed up yet? Click here to <a   href="/customer_func/register/create">Signup</a></div>
                   
                </div>
               
                

                <input type="text" id="privilege_level" name="privilege_level" value='3' hidden>
               
        
    
            </form>
            <img src="/images/Logo.png" id="logo">
            
    
            </div>
            

            
    
    </body>


</html>