<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Document</title>
</head>
<body>

        <div class="main-container">
          <div class="upper-nav">
              <div class="logo">
                  <a href="">
                      <img src="/images/Logo.png" alt="logo" height="100%">
                  </a>
              </div>
              <div class="username sbox">
                  <p>Hi, <%= req.userEmail  %> </p>
              </div>
              <div class="cart sbox">
                  <a href="/customer_func/cart/view">
                      <img src="/images/shopping_cart_24px.png" alt="cart" height="50px">
                  </a>
              </div>
              <div class="favorites sbox bt">
                  <a href="/customer_func/favourites/view">Favorites</a>
              </div>
              <div class="logout sbox bt">
                  <a href="/">Home</a>
              </div>
          </div>
          <div class="container">
              <div class="menu">
                  <div class="item-container">
                    <% result.forEach(food => {%>
                      <div class="item">
                          <div class="image">
                              <img src="/images/Sri-Lankan-Rice-and-Curry.jpg" height="90%" width="100%" >
                          </div>
                          <div class="details">
                              <div class="price bt-s">
                                  <p style="margin-top:auto;"><%= food.food_item_name %> <br> Rs. <%= food.price %> <br> calory:  <%= food.calorie_amount %></p>
                              </div>
                              <br>
                              <div class= "bt-s">
                                  <form action="/customer_func/menu/view" method="post">
                                        <input type="text"  name="item" value='<%= food.food_item_id %>' hidden>
                                        <input type="text"  name="method_type" value='<%= 1 %>' hidden>
                                        <input type="image" src="/images/shopping_cart_24px.png"  style="height:35px; margin-right: 20px;">
                                  </form>
                                 
                                  <form action="/customer_func/menu/view" method="post">
                                    <input type="text"  name="item" value='<%= food.food_item_id %>' hidden>
                                    <input type="text"  name="method_type" value='<%= 2 %>' hidden>
                                    <input type="image" src="/images/favorite_border_24px_outlined.png" style="height:35px; ">
                              </form>

                                 
                              </div>

                          </div>
                      </div>
                      <% }); %>  
                      
                  </div>
              </div>
          </div>
      </div>

    

 
</body>
</html>