<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
        
        <div id="rectangular">
            
            <div id="polygon1"></div>
            <div id="polygon2"></div>
            <div id="Submit" style="overflow-y: auto;"> 
                <form action="/customer_func/register/create" method="post">
                    <div class="form-group">
                      <label for="User-name" id="label-name">Name</label>
                      <input type="text" class="form-control" id="User-name"  placeholder="Enter Name" name="customer_name">
            
                    </div>

                    <div class="form-group">
                        <label for="User-name" id="label-name">Address</label>
                        <input type="text" class="form-control" id="User-name"  placeholder="Enter Name" name="address">
              
                    </div>
                    <div class="form-group">
                        <label for="User-name" id="label-name">Contact Number</label>
                        <input type="number" class="form-control" id="User-name"  placeholder="Enter Name" name="contact_number">
              
                    </div>
                    <div class="form-group">
                      <label for="Email" id="label-email">Email</label>
                      <input type="email" class="form-control" id="Email" placeholder="Enter Email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="Password" id="label-password">Password</label>
                        <input type="password" class="form-control" id="Password"  placeholder="Enter Password" name="password">
                      </div>
                    <button type="submit" class="btn btn-dark" id="button1">Submit</button>
                  </form>

            </div>
            <div id="text1">Welcome to Food Ninja</div>
            <img src="/images/Logo.png" id="logo">
            <div id="text2">
                Already have an account? Click here to <a id="login" href="/customer_func/login">login</a>.
            </div>
              
            
            
        </div>
    
</body>
</html>